<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>pgr</title>
  </head>
  <body>
    <form action="/testing" method="post">
        <div class="form-outline mb-4">
            <input type="email" name="username" id="form2Example17"
                class="form-control form-control-lg" />
            <label class="form-label" for="form2Example17">Email address</label>
        </div>
        <input type="submit" class="btn btn-dark btn-lg btn-block">
    </form>    

    


  </body>
</html>